<nav class="navbar navbar-default navbar-fixed-bottom">
  	<div class="container-fluid footer text-center">
		<div class="row">
			<div><p>Copy Rights © 2016 | Halah & Lissa </p></div>
		</div>
	</div>
</nav>