<nav class="navbar navbar-default navbar-inverse" role="navigation" id="navigationBar">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/" id="navBarBrand">
                <span class="fa fa-map-marker"></span>
                Take a Hike!
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right" id="navBarItems">
            <li><a href="/hikes">Find A hike</a></li>
            <li><a href="/auth/signin">Sign In</a></li>
        </ul>

    </div>
</nav>
