<div class="container-fluid index-cover">
	<div class="row">
		<div class="col-md-12 text-center">
			<a class="btn btn-success btn-cog btn-lg" href="">Find The Perfect Hike
			</a>		
		</div>
	</div>
</div>