<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 text-center">
				<i class="fa fa-sun-o fa-4x fa-cog"></i>
				<h3>Feature One</h3>
				<p>
				  Tilde vegan aesthetic, ethical austin bushwick fixie irony bespoke chartreuse taxidermy meditation skateboard banjo. Church-key drinking vinegar schlitz, XOXO pug DIY marfa umami. Farm-to-table you probably haven't heard of them organic brunch, mumblecore scenester vinyl fanny pack food truck meh. Retro tattooed flexitarian slow-carb organic, intelligentsia butcher
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-globe fa-4x fa-cog"></i>
				<h3>Feature Two</h3>
				<p>
				  Tilde vegan aesthetic, ethical austin bushwick fixie irony bespoke chartreuse taxidermy meditation skateboard banjo. Church-key drinking vinegar schlitz, XOXO pug DIY marfa umami. Farm-to-table you probably haven't heard of them organic brunch, mumblecore scenester vinyl fanny pack food truck meh. Retro tattooed flexitarian slow-carb organic, intelligentsia butcher
				</p>
			</div>
			<div class="col-md-4 text-center">
				<i class="fa fa-compass fa-4x fa-cog"></i>
				<h3>Feature Three</h3>
				<p>
				  Tilde vegan aesthetic, ethical austin bushwick fixie irony bespoke chartreuse taxidermy meditation skateboard banjo. Church-key drinking vinegar schlitz, XOXO pug DIY marfa umami. Farm-to-table you probably haven't heard of them organic brunch, mumblecore scenester vinyl fanny pack food truck meh. Retro tattooed flexitarian slow-carb organic, intelligentsia butcher
				</p>
			</div>
		</div>
	</div>
</div>