<!DOCTYPE html>
<html>
<head>
	<title>Take A Hike Index!</title>
	<% include style%>
</head>
<body>
	<% include header%>
	<% include indexCover%>
	<br>
	<br>
	<% include indexFeatures%>
</body>
</html>