<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Take A Hike Index!</title>
	<% include style%>
</head>
<body>
	<% include header%>
	<% include indexCover%>
	<br>
	<br>
	<% include indexFeatures%>
	<br>
	<br>
	<% include footer%>
</body>
</html>