<!DOCTYPE html>
<html>
<head>
	<title>Find a Hike!</title>
	<% include ../style%>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/userProfileStyle.css">
</head>
</head>
<body>
	<% include ../header %>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8">
					<!-- insert map here -->
					<div class="jumbotron">
						<%if(currentWeather){ %>
							<p>
						  		<%= currentWeather.weather[0].main %>
							</p>
							<p>
							  	<%= currentWeather.main.temp %>

							</p>
						<%}%>
						
					</div>
				</div>
				<div class="col-md-4">
				<div class="jumbotron">
					<form method="POST" action="/hikes">
					<label for="seach">Search for Hike</label>
						<div class="form-group">
							<label for="seach">Name</label>
							<input type="search" class="form-control"name="search" id="search" placeholder="name">
						</div>

						<div class="form-group">
							<label for="elevation">Elevation</label>

							<select class="form-control" name="elevation" id="elevation">
							  	<option>Easy</option>
							  	<option>Meduim</option>
							  	<option>Hard</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="zipcode">Zipcode</label>
							<input type="text" class="form-control"name="zipcode" id="zipcode">
						</div>

						<div class="form-group">
							<label for="radius">Radius</label>
							<input type="text" class="form-control"name="radius" id="radius">
						</div>

						<button type="submit" class="btn btn-danger btn-cog btn-block">Find Me A Hike
					   	</button>

					</form>
				</div>
					<br>
					<%if(searchResults){%>
						<%searchResults.forEach(function(result){%>
							<p><%= result.name %></p>
						<%})%>
					<%}%>

				</div>
			</div>
		</div>
	</div>
	<% include ../footer %>
</body>
</html>