#navigationBar{
	background: #3B4F53;
	border: 0px;
    border-radius: 0;
    margin-bottom: 0px;
}

#navBarBrand, #navBarItems > li > a{
	color: #ECEDEF;
}

#navBarBrand:hover, #navBarItems > li > a:hover{
	color: #A0A9AE;
}

#table-center{

}

form{
	width: 45%;
	margin: 0 auto !important;
	float: none !important;
	color: #EEEFF7;
	padding: 10%;
}


body{
	background: url('https://images.unsplash.com/photo-1420582282039-a6d11404cb66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9d7c41ec56079e595ca86ee5f8d77362');
	background-size: cover;
}
.sign-form > div{
	background: rgba(1,1,1,0.4);
}

#table-center > tr:hover{
	background-color: #31353D;
}

.fa-cog {
  color: #D07258;
}


.btn-cog{
	background: #D07258;
	border: 0px;
}

.footer {
   background: #3B4F53;
   color: white;
   height: 50px;
}
.footer > div> div>p{
	margin-top: 15px;
}

a{
	color: white;
}

h2 {
    color: red;
}
