#navigationBar{
	background: #3B4F53;
	border: 0px;
    border-radius: 0;
}

#navBarBrand, #navBarItems > li > a{
	color: #ECEDEF;
}

#navBarBrand:hover, #navBarItems > li > a:hover{
	color: #A0A9AE;
}

#table-center, form{
/*	width: 70%;
*/	margin: 0 auto !important;
	float: none !important;
	background: rgba(1,1,1,0.4);
	color: #EEEFF7;
}

form{
	padding: 1%;
}
#table-center > tr:hover{
	background-color: #31353D;
}
body{
	/*background: url('https://images.unsplash.com/photo-1420582282039-a6d11404cb66?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9d7c41ec56079e595ca86ee5f8d77362');
	background-size: cover;*/
}

.fa-cog {
  color: #D07258;
}
