<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<% include ../style%>
	<link rel="stylesheet" type="text/css" href="/css/signinStyle.css">
</head>
<body>
	<% include ../header%>
	<%= errorMessage %>
	<% include signinForm%>

	<% include ../footer%>
</body>
</html>
