<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<% include ../style%>
	<link rel="stylesheet" type="text/css" href="/css/signinStyle.css">
</head>
<body>
	<% include ../header%>
	<%if(errorMessage) {%>
		<h2><%= errorMessage %></h2>
	<%}%>

	
	<% include signinForm%>

	<% include ../footer%>
</body>
</html>
