<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<% include ../style%>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
	<% include ../homeHeader %>

	<% include ../footer %>
</body>
</html>